.app {
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.todolist {
    margin: 30px;
}

.error {
    color: red;
}
.todolist-item{
    display: flex;
    justify-content: space-between;
}